# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

array01
async01
auto01
auto02
forward01
lambda01
list_initialization01
move01
move02
package_task01
promise01
smartptr01
smartptr02
smartptr03
smartptr04
smartptr05
thread01
thread02
thread03
thread04
thread05
thread06
tuple01
unordered_map01
unordered_multimap01
unordered_map02
unordered_set01
unordered_multiset01
